{% extends 'complements/principal.htm' %}

{% block head %}
{% endblock head %}

{% block body %}
<form method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="container-ver-admin">
        <div class="titulo">
            <h1>Citas</h1>
        </div>
        <div class="buscar">
            <p>Buscar Persona</p>
            <input type="text" name="txtRut" id="txtRut">
            <span><input type="submit" name="btnAccion" value="Buscar"></span>
        </div>
        <div class="nombre-masc">
            <h1>name</h1>
        </div>
        <table>
            <tr>
                <th>Tipo de Consulta</th>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Estado</th>
                <th></th>
            </tr>
            {% for cita in citas %}
                <tr>
                    <td>{{cita.IdMascota}}</td>
                    <td>{{cita.Descripcion}}</td>
                    <td>{{cita.Fecha}}</td>
                    <td>{{cita.Hora}}</td>
                    <td>{{cita.Estado}}</td>
                    <td><button name="btnMascota" value="34" type="submit">Ingresar</button></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</form>
{% endblock body %}