{% extends 'complements/principal.htm' %}

{% block head %}
{% endblock head %}

{% block body %}
<form method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="container-reg-mascota">
        <div class="titulo">
            <h1>Registro de Mascota</h1>
        </div>
        <div class="buscar-persona">
            <div class="buscar">
                <h3>Buscar por Rut</h3>
                <input type="text" name="txtRut" id="txtRut">
                <span><input type="submit" name="btnAccion" value="Buscar"></span>
            </div>
        </div>

        <table class="detalle-mascota">
            <tr>
                <th>Identificador</th>
                <th>Nombre</th>
                <th>Color</th>
                <th>Tamaño</th>
                <th>Peso</th>
                <th>Raza</th>
                <th>Genero</th>
            </tr>
            {% for mas in mascotas %}
            <tr>
                <td>{{mas.IdMascota}}</td>
                <td>{{mas.Nombre}}</td>
                <td>{{mas.Color}}</td>
                <td>{{mas.IdTamano}}</td>
                <td>{{mas.Peso}} KG</td>
                <td>{{mas.IdRaza}}</td>
                <td>{{mas.IdGenero}}</td>
            </tr>
            {% endfor %}
        </table>

        <div class="identificador">
            <p>Identificador:</p>
            <input type="text" name="txtIdentificador" id="txtIdentificador" value="{{random}}" readonly>
        </div>

        <div class="nombre">
            <p>Nombre:</p>
            <input type="text" name="txtNombre" id="txtNombre">
        </div>

        <div class="rutpersona">
            <p>Rut Persona:</p>
            <input type="text" name="txtRutPersona" id="txtRutPersona" value="{{rutpersona}}" readonly>
        </div>
        <div class="color">
            <p>Color:</p>
            <input type="text" name="txtColor" id="txtColor">
        </div>
        <div class="tamano">
            <p>Tamaño:</p>
            <select name="cboTamano" id="cboTamano">
                <option>Seleccionar</option>
                {% for tam in tamano %}
                    <option value="{{tam.IdTamano}}">{{tam.Descripcion}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="peso">
            <p>Peso:</p>
            <input type="text" name="txtPeso" id="txtPeso">
        </div>
        <div class="raza">
            <p>Raza:</p>
            <select name="cboRaza" id="cboRaza">
                <option>Seleccionar</option>
                {% for ra in raza %}
                    <option value="{{ra.IdRaza}}">{{ra.Descripcion}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="genero">
            <p>Genero:</p>
            <select name="cboGenero" id="cboGenero">
                <option>Seleccionar</option>
                {% for gen in genero %}
                    <option value="{{gen.IdGenero}}">{{gen.Descripcion}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="boton">
            <input type="submit" name="btnAccion" value="Ingresar">
        </div>
    </div>
</form>f

{% endblock body %}