<!-- ARCHIVOS PRINCIPALES -->
{% extends 'complements/principal.htm' %}

<!-- CABEZERA -->
{% block head %}
{% endblock head %}

<!-- CUERPO -->
{% block body %}
    <div class="container-carousel">
        <div class="imagen">
            <img src="../static/img/slide01.jpg" alt="">
        </div>
        <div class="texto">
            <h1>Clinica BlueVet</h1>
            <p>Comprometido con nuestros Pacientes</p>
            <hr>
        </div>
    </div>

    <div class="container-servicios">
        <div class="titulo">
            <h1>Algunos de nuestros principales servicios</h1>
        </div>
        <div class="ico-domicilio">
            <div class="imagen">
                <img src="../static/img/icoblue.png" alt="">
            </div>
            <div class="texto">
                <h1>Domicilio</h1>
                <p>Atención veterinaria a domicilio, transporte de mascota y entrega de alimentos.</p>
            </div>
        </div>
        <div class="ico-cirugia">
            <div class="imagen">
                <img src="../static/img/icoblue.png" alt="">
            </div>
            <div class="texto">
                <h1>Cirugia</h1>
                <p>Contamos con un pabellón quirúrgico, equipado que permite realizar intervenciones de gran
                    complejidad.</p>
            </div>
        </div>
        <div class="ico-hospital">
            <div class="imagen">
                <img src="../static/img/icoblue.png" alt="">
            </div>
            <div class="texto">
                <h1>Hospital</h1>
                <p>Instalaciones fabricadas especialmente para brindar tratamientos en pacientes con enfermedades
                    complejas.</p>
            </div>
        </div>
        <div class="ico-imagenologia">
            <div class="imagen">
                <img src="../static/img/icoblue.png" alt="">
            </div>
            <div class="texto">
                <h1>Imagenologia</h1>
                <p>Equipo de radiología y ecografía, que permiten dar apoyo a un correcto diagnóstico.</p>
            </div>
        </div>
    </div>

    <div class="container-experiencia">
        <div class="titulo">
            <h1>Nuestra Experiencia</h1>
        </div>
        <div class="texto">
            <p>Somos un equipo medico veterinario, entrenados en la Universidad de Chile que constantemente actualizamos
                nuestros conocimientos para entregar la mejor atención a sus mascotas. Trabajando para usted desde el
                año 2009.</p>
        </div>
    </div>

    <div class="container-productos">
        <div class="titulo">
            <h1>Nuestros Productos</h1>
        </div>
        <div class="texto">
            <p>Contamos con una gran variedad de accesorios, alimentos y fármacos.</p>
        </div>
        <div class="ico-biljac">
            <img src="../static/img/biljac.png" alt="">
        </div>
        <div class="ico-eukanuba">
            <img src="../static/img/eukanuba.png" alt="">
        </div>
        <div class="ico-hills">
            <img src="../static/img/hills.png" alt="">
        </div>
        <div class="ico-nutranuggets">
            <img src="../static/img/nutranuggets.png" alt="">
        </div>
        <div class="ico-nutragold">
            <img src="../static/img/nutragold.png" alt="">
        </div>
        <div class="ico-diamond">
            <img src="../static/img/diamond.png" alt="">
        </div>
    </div>
{% endblock body %}
