<!-- ARCHIVOS PRINCIPALES -->
{% extends 'complements/principal.htm' %}

<!-- CABEZERA -->
{% block head %}
{% endblock head %}

<!-- CUERPO -->
{% block body %}
    <div class="container-nosotros">
        <div class="titulo">
            <h1>Quienes Somos</h1>
        </div>
        <div class="texto">
            <p>En el año 2012 surge la necesidad de crear una atención veterinaria a domicilio
                de excelente calidad, buen servicio y confianza. A partir de esto nos vimos en la
                obligacion de prestar un servicio integral, creando asi en Diciembre del año 2013
                la Clinica Veterinaria Bluevet. Contando con excelentes instalaciones, personal
                altamente calificado, empatico y Ético para prestar el mejor cuidado posible a
                nuestras mascotas. Nuestro gran amor y vocación por los animales son nuestro
                motor y compromiso para entregar la mejor salud a nuestros pacientes.</p>
        </div>
        <div class="logo">
            <img src="../static/img/logo_footer.png" alt="">
        </div>
    </div>

    <div class="container-mision">
        <div class="titulo">
            <h1>Nuestra Misión</h1>
        </div>
        <div class="texto">
            <p>Clínica Veterinaria Bluevet es una entidad prestadora de salud, cuyo principal objetivo es entregar a
                nuestros pacientes y propietarios una atención integral, resolutiva y oportuna, basada en la calidez,
                compromiso y los mas altos estándares de calidad.</p>
        </div>
    </div>

    <div class="container-vision">
        <div class="titulo">
            <h1>Nuestra Visión</h1>
        </div>
        <div class="texto">
            <p>Convertirnos en una clínica veterinaria líder en el diagnostico y tratamiento de las enfermedades,
                entregando una atención personalizada, dedicada, eficiente y eficaz; sin descuidar los principios éticos
                y valores de nuestra institución.</p>
        </div>
        <div class="imagen">
            <img src="../static/img/nosotros.jpg" alt="">
        </div>
        <div class="logo">
            <img src="../static/img/logo_footer.png" alt="">
        </div>
        <div class="barra-gris"></div>
    </div>
{% endblock body %}