<!-- ARCHIVOS PRINCIPALES -->
{% extends 'complements/principal.htm' %}

<!-- CABEZERA -->
{% block head %}
{% endblock head %}

<!-- CUERPO -->
{% block body%}
    <div class="container-servicios-1">
        <div class="titulo">
            <h1>Nuestros Servicios</h1>
        </div>
        <div class="cirugias">
            <div class="imagen">
                <img src="../static/img/img-cirugia.png" alt="">
            </div>
            <div class="texto">
                <h1>Cirugías</h1>
                <p>Contamos con un pabellón quirúrgico, equipado que permite realizar intervenciones de gran
                    complejidad.</p>
            </div>
        </div>

        <div class="imagenologia">
            <div class="imagen">
                <img src="../static/img/img-imagenologia.png" alt="">
            </div>
            <div class="texto">
                <h1>Imagenología</h1>
                <p>Equipo de radiología y ecografía, que permiten dar apoyo a un correcto diagnostico.</p>
            </div>
        </div>

        <div class="hospital">
            <div class="imagen">
                <img src="../static/img/img-hospital.png" alt="">
            </div>
            <div class="texto">
                <h1>Hospital</h1>
                <p>Instalaciones fabricadas especialmente para brindar tratamientos en pacientes con enfermedades
                    complejas.</p>
            </div>
        </div>
    </div>

    <div class="container-servicios-2">
        <div class="dermatologia">
            <div class="imagen">
                <img src="../static/img/img-dermatologia.png" alt="">
            </div>
            <div class="texto">
                <h1>Dermatología</h1>
                <p>Profesional certificado para consultas dermatológicas incluyendo exámenes de lucrospia.</p>
            </div>
        </div>

        <div class="farmacia">
            <div class="imagen">
                <img src="../static/img/img-farmacia.png" alt="">
            </div>
            <div class="texto">
                <h1>Farmacia</h1>
                <p>Nos preocupamos de la comodidad de nuestros clientes, entregando una amplia variedad de medicamentos
                    de uso veterinario para el tratamiento de su mascota.</p>
            </div>
        </div>

        <div class="peluqueria">
            <div class="imagen">
                <img src="../static/img/img-peliqueria.png" alt="">
            </div>
            <div class="texto">
                <h1>Peluqueria Estética</h1>
                <p>En Bluevet nos dedicamos al cuidado y bienestar de la piel y
                    pelaje de sus Mascotas.</p>
            </div>
        </div>
    </div>

    <div class="container-servicios-3">
        <div class="alimentos">
            <div class="imagen">
                <img src="../static/img/img-alimentos.png" alt="">
            </div>
            <div class="texto">
                <h1>Alimentos</h1>
                <p>Ofrecemos una pequeña variedad de los mejores alimentos recomendados por veterinarios, que se ajustan
                    en relación precio-calidad.</p>
            </div>
        </div>

        <div class="accesorios">
            <div class="imagen">
                <img src="../static/img/img-accesorios.png" alt="">
            </div>
            <div class="texto">
                <h1>Accesorios</h1>
                <p>Algunos accesorios para su mascota, también un catalogo para accesorios por encargo.</p>
            </div>
        </div>

        <div class="domicilio">
            <div class="imagen">
                <img src="../static/img/img-domicilio.png" alt="">
            </div>
            <div class="texto">
                <h1>Domicilio</h1>
                <p>Atención veterinaria a domicilio, transporte de mascota y entrega de alimentos.</p>
            </div>
        </div>
    </div>

{% endblock body %}