
@import 'https://fonts.googleapis.com/css?family=Roboto&display=swap';
:root {
    --blue: rgb(62, 118, 174);
    --gray: #b6b6b6;
    --lightgray: #F0F0F0;
    --darkgray: rgb(105, 105, 105);
    --black: #343434;
    --white: rgb(182, 182, 182);
}

.regUsuario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 74px);
    background-color: var(--lightgray)
}

.regUsuario .titulo {
    grid-column: 3/6;
    text-align: center;
    font-family: 'roboto';
    position: relative;
    top: 10px;
    color: var(--blue);
}

.regUsuario .nombre {
    grid-column: 3/4;
    grid-row: 2/2;
    position: relative;
    left: 60px;
}


.regUsuario .apellido {
    grid-column: 5/6;
    grid-row: 2/2;
    position: relative;
    right: 60px;
}

.regUsuario .rutpersona {
    grid-column: 3/4;
    grid-row: 3/3;
    position: relative;
    left: 60px;
}

.regUsuario .correo {
    grid-column: 5/6;
    grid-row: 3/3;
    position: relative;
    right: 60px;
}

.regUsuario .direccion {
    grid-column: 3/4;
    grid-row: 4/4;
    position: relative;
    left: 60px;
}

.regUsuario .telefono {
    grid-column: 5/6;
    grid-row: 4/4;
    position: relative;
    right: 60px;
}

.regUsuario .provincia {
    grid-column: 3/4;
    grid-row: 5/5;
    position: relative;
    left: 60px;
}

.regUsuario .comuna {
    grid-column: 5/6;
    grid-row: 5/5;
    position: relative;
    right: 60px;
}

.regUsuario .contrasena {
    grid-column: 4/5;
    grid-row: 6/6;
    position: relative;
    left: 0px;
    top: 10px;
}

.regUsuario .boton {
    grid-column: 3/6;
    grid-row: 7/7;
    text-align: center;
    position: relative;
    right: 0px;
    top: 10px;
}

.regUsuario .boton input,
.regUsuario .boton a {
    padding: 5px 20px;
    color: white;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    font-family: 'Roboto';
    font-size: 17px;
    text-decoration: none;
}


.regUsuario .nombre p,
.regUsuario .apellido p,
.regUsuario .rutpersona p,
.regUsuario .correo p,
.regUsuario .direccion p,
.regUsuario .telefono p,
.regUsuario .provincia p,
.regUsuario .comuna p{
    font-family: 'roboto';
    color: var(--darkgray);
}

.regUsuario .contrasena p {
    font-family: 'roboto';
    color: var(--darkgray);
    text-align: center;
}

.regUsuario .nombre input,
.regUsuario .apellido input,
.regUsuario .rutpersona input,
.regUsuario .correo input,
.regUsuario .direccion input,
.regUsuario .telefono input,
.regUsuario .provincia input,
.regUsuario .comuna input {
    font-family: 'roboto';
    text-align: center;
    height: 20px;
    width: 90%;
    position: relative;
    top: 10px;
    color: var(--darkgray)
}

.regUsuario .contrasena input {
    font-family: 'roboto';
    text-align: center;
    height: 20px;
    width: 90%;
    position: relative;
    top: 10px;
    left: 7px;
    color: var(--darkgray)
}

.regUsuario .provincia select,
.regUsuario .comuna select {
    height: 30px;
    width: 90%;
    font-family: 'roboto';
    position: relative;
    top: 10px;
}

/* ----------------------------------------------- */
.container-ver {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(13, 1fr);
    background-color: var(--lightgray);
}

.container-ver .titulo {
    grid-column: 1/-1;
    text-align: center;
    position: relative;
    top: 30px;
}

.container-ver .buscar {
    grid-row: 2/2;
    grid-column: 3/6;
    text-align: center;
    position: relative;
    top: 30px;
}


.container-ver .nombre-masc {
    grid-column: 2/7;
    grid-row: 5/6;
    text-align: center;
}

.container-ver .nombre-masc h1 {
    font-family: 'Roboto';
    color: var(--blue);
}

.container-ver table {
    grid-column: 2/7;
    grid-row: 6/9;
    position: relative;
    top: 30px;
}

.container-ver table tr th,
.container-ver table tr td {
    font-family: 'Roboto';
    border: 1px solid var(--darkgray);
    text-align: center;
    color: var(--darkgray);
}

.container-ver .titulo h1 {
    font-family: 'Roboto';
    color: var(--blue);
}

.container-ver .buscar p {
    font-family: 'Roboto';
}

.container-ver .buscar select {
    font-family: 'Roboto';
    position: relative;
    top: 15px;
    padding: 3px 15px;
}

.container-ver .buscar input {
    font-family: 'Roboto';
    position: relative;
    top: 14px;
    left: 10px;
    padding: 4px 15px;
    color: white;
    background-color: var(--blue);
    border: .5px solid var(--blue);
}


/* ----------------------------------------------- */
.container-anular {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(15, 1fr);
    background-color: var(--lightgray);
}

.container-anular .titulo {
    grid-column: 1/-1;
    text-align: center;
    position: relative;
    top: 30px;
}

.container-anular .buscar {
    grid-row: 2/2;
    grid-column: 3/6;
    text-align: center;
    position: relative;
    top: 30px;
}

.container-anular .nombre-masc {
    grid-column: 2/7;
    grid-row: 5/6;
    text-align: center;
}

.container-anular .nombre-masc h1 {
    font-family: 'Roboto';
    color: var(--blue);
}

.container-anular table {
    grid-column: 2/7;
    grid-row: 7/10;
}

.container-anular table tr th,
.container-anular table tr td {
    font-family: 'Roboto';
    border: 1px solid var(--darkgray);
    text-align: center;
    color: var(--darkgray);
}

.container-anular .titulo h1 {
    font-family: 'Roboto';
    color: var(--blue);
}

.container-anular .buscar p {
    font-family: 'Roboto';
}

.container-anular .buscar select {
    font-family: 'Roboto';
    position: relative;
    top: 15px;
    padding: 3px 15px;
}

.container-anular .buscar input {
    font-family: 'Roboto';
    position: relative;
    top: 14px;
    left: 10px;
    padding: 4px 15px;
    color: white;
    background-color: var(--blue);
    border: .5px solid var(--blue);
}


.container-anular .anular {
    grid-column: 3/6;
    grid-row: 12/15;
    text-align: center;
}

.container-anular .anular p {
    font-family: 'Roboto';
}

.container-anular .anular input {
    position: relative;
    top: 10px;
    text-align: center;
}


.container-anular .anular .boton input {
    font-family: 'Roboto';
    position: relative;
    top: 20px;
    padding: 4px 15px;
    color: white;
    background-color: var(--blue);
    border: .5px solid var(--blue);
}

/* --------------------------------------------------- */
.container-ficha {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background-color: var(--lightgray);
}

.container-ficha .titulo {
    grid-column: 1/-1;
    text-align: center;
    position: relative;
    top: 30px;
}

.container-ficha .buscar {
    grid-row: 2/2;
    grid-column: 3/6;
    text-align: center;
    position: relative;
    top: 30px;
}

.container-ficha .titulo h1 {
    font-family: 'Roboto';
    color: var(--blue);
}

.container-ficha .buscar p {
    font-family: 'Roboto';
}

.container-ficha .buscar select {
    font-family: 'Roboto';
    position: relative;
    top: 15px;
    padding: 3px 15px;
}

.container-ficha .buscar input {
    font-family: 'Roboto';
    position: relative;
    top: 14px;
    left: 10px;
    padding: 4px 15px;
    color: white;
    background-color: var(--blue);
    border: .5px solid var(--blue);
}

.container-ficha .nombre-masc {
    grid-column: 2/7;
    grid-row: 5/6;
    text-align: center;
}

.container-ficha .nombre-masc h1 {
    font-family: 'Roboto';
    color: var(--blue);
}

.container-ficha .titulo-mascota {
    grid-row: 7/8;
    grid-column: 2/7;
    text-align: center;
}

.container-ficha .mascota {
    grid-column: 2/7;
    grid-row: 8/11;
}

.container-ficha .mascota tr th,
.container-ficha .mascota tr td {
    font-family: 'Roboto';
    border: 1px solid var(--darkgray);
    text-align: center;
    color: var(--darkgray);
}

.container-ficha .titulo-vacuna {
    grid-row: 11/12;
    grid-column: 2/7;
    text-align: center;
}


.container-ficha .vacuna {
    grid-column: 2/7;
    grid-row: 12/15;
}

.container-ficha .vacuna tr th,
.container-ficha .vacuna tr td {
    font-family: 'Roboto';
    border: 1px solid var(--darkgray);
    text-align: center;
    color: var(--darkgray);
}

.container-ficha .titulo-desparacitacion {
    grid-row: 15/16;
    grid-column: 2/7;
    text-align: center;
}

.container-ficha .desparacitacion {
    grid-column: 2/7;
    grid-row: 16/19;
}

.container-ficha .desparacitacion tr th,
.container-ficha .desparacitacion tr td {
    font-family: 'Roboto';
    border: 1px solid var(--darkgray);
    text-align: center;
    color: var(--darkgray);
}

.container-ficha .titulo-mascota h1,
.container-ficha .titulo-vacuna h1,
.container-ficha .titulo-desparacitacion h1 {
    font-family: 'Roboto';
    color: var(--blue);
}

/* -------------------------------------------------- */
.container-info-contacto {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--lightgray);
}

.container-info-contacto .titulo {
    grid-column: 3/6;
    grid-row: 1/1;
    text-align: center;
    color: var(--blue);
    font-family: 'Roboto';
    position: relative;
    top: 40px;
}

.container-info-contacto table {
    grid-column: 3/6;
    grid-row: 2/2;
}

.container-info-contacto table tr th,
.container-info-contacto table tr td {
    border: 1px solid var(--darkgray);
    font-family: 'Roboto';
    color: var(--darkgray);
    text-align: center;
}

/* ------------------------------------------- */
.container-reg-mascota {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(40, .1fr);
    background-color: var(--lightgray);
}

.container-reg-mascota .titulo {
    grid-column: 3/6;
    text-align: center;
    position: relative;
    top: 20px;
}

.container-reg-mascota .titulo h1 {
    font-family: 'Roboto';
    color: var(--blue);
}

.container-reg-mascota .detalle-mascota {
    grid-column: 3/6;
    grid-row: 3/4;
    grid-auto-rows: auto;
    position: relative;
    top: 80px;
    text-align: center; 
}


.container-reg-mascota .buscar {
    grid-row: 2/2;
    grid-column: 3/6;
    text-align: center;
    position: relative;
    top: 30px;
}

.container-reg-mascota .buscar p {
    font-family: 'Roboto';
    color: var(--darkgray);
}

.container-reg-mascota .buscar input {
    text-align: center;
    font-family: 'Roboto';
}

.container-reg-mascota .buscar span input {
    font-family: 'Roboto';
    color: white;
    background-color: var(--blue);
    border: .3px solid var(--blue);
    padding: 2px 5px;
} 


.container-reg-mascota .detalle-mascota tr th,
.container-reg-mascota .detalle-mascota tr td {
    font-family: 'Roboto';
    border: .3px solid var(--black);
    color: var(--darkgray);
}

.container-reg-mascota .boton {
    grid-row: 13/13;
    grid-column: 1/-1;
    text-align: center;
    position: relative;
    top: 60px;
}


.container-reg-mascota .boton input {
    padding: 7px 15px;
    font-family: 'Roboto';
    color: white;
    background-color: var(--blue);
    border: .5px solid var(--blue);
}
/* ------------------------------------------------ */
.reg-mascota {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(13, 1fr);
    background-color: var(--lightgray);
}

.reg-mascota .titulo {
    grid-column: 3/6;
    text-align: center;
    position: relative;
    top: 20px;
}

.reg-mascota .buscar {
    grid-row: 2/2;
    grid-column: 3/6;
    text-align: center;
    position: relative;
    top: 30px;
}

.reg-mascota .identificador {
    grid-column: 3/4;
    grid-row: 4/4;
    text-align: center;
}

.reg-mascota .rutpersona {
    grid-column: 5/6;
    grid-row: 4/4;
    text-align: center;
}

.reg-mascota .nombre {
    grid-column: 3/4;
    grid-row: 6/6;
    text-align: center;
}

.reg-mascota .color {
    grid-column: 5/6;
    grid-row: 6/6;
    text-align: center;
}

.reg-mascota .tamano {
    grid-column: 3/4;
    grid-row: 8/8;
    text-align: center;
}

.reg-mascota .peso {
    grid-column: 5/6;
    grid-row: 8/8;
    text-align: center;
}

.reg-mascota .raza {
    grid-column: 3/4;
    grid-row: 10/10;
    text-align: center;
}

.reg-mascota .genero {
    grid-column: 5/6;
    grid-row: 10/10;
    text-align: center;
}

.reg-mascota .boton {
    grid-row: 12/12;
    grid-column: 4/5;
    text-align: center;
}

.reg-mascota .titulo h1 {
    font-family: 'Roboto';
    color: var(--blue);
}

.reg-mascota .identificador, p,
.reg-mascota .nombre p,
.reg-mascota .rutpersona p,
.reg-mascota .color p,
.reg-mascota .tamano p,
.reg-mascota .peso p,
.reg-mascota .raza p,
.reg-mascota .genero p {
    font-family: 'Roboto';
    color: var(--black);
}


.reg-mascota .identificador input,
.reg-mascota .rutpersona input,
.reg-mascota .nombre input,
.reg-mascota .color input,
.reg-mascota .peso input {
    font-family: 'Roboto';
    text-align: center;
    padding: 3px 32px;
}

.reg-mascota .tamano select,
.reg-mascota .genero select {
    font-family: 'Roboto';
    padding: 3px 60px;
    text-align: center;
}

.reg-mascota .raza select  {
    padding: 5px;
    text-align: center;
}

.reg-mascota .boton input {
    padding: 7px 15px;
    font-family: 'Roboto';
    color: white;
    background-color: var(--blue);
    border: .5px solid var(--blue);
}


/* ------------------------------------------------ */









/* ------------- VER CITAS ADMIN ---------- */
.container-ver-admin {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(20, .5fr);
    background-color: var(--lightgray);
}

.container-ver-admin .titulo {
    grid-column: 1/-1;
    text-align: center;
    position: relative;
    top: 30px;
}

.container-ver-admin .buscar {
    grid-row: 2/2;
    grid-column: 3/6;
    text-align: center;
    position: relative;
    top: 30px;
}


.container-ver-admin .nombre-masc {
    grid-column: 2/7;
    grid-row: 5/6;
    text-align: center;
}

.container-ver-admin .nombre-masc h1 {
    font-family: 'Roboto';
    color: var(--blue);
}

.container-ver-admin table {
    grid-column: 2/7;
    grid-row: 6/9;
    position: relative;
    top: 30px;
}

.container-ver-admin table tr th,
.container-ver-admin table tr td {
    font-family: 'Roboto';
    border: 1px solid var(--darkgray);
    text-align: center;
    color: var(--darkgray);
}

.container-ver-admin .titulo h1 {
    font-family: 'Roboto';
    color: var(--blue);
}

.container-ver-admin .buscar p {
    font-family: 'Roboto';
}

.container-ver-admin .buscar input {
    font-family: 'Roboto';
    position: relative;
    top: 14px;
    left: 10px;
    padding: 3px 15px;
}


.container-ver-admin .buscar span input {
    font-family: 'Roboto';
    position: relative;
    top: 14px;
    left: 10px;
    padding: 4px 15px;
    color: white;
    background-color: var(--blue);
    border: .5px solid var(--blue);
}

.container-ver-admin table tr td button {
    color: white;
    background-color: var(--blue);
    border: .5px solid var(--blue);
    padding: 3px 10px;
    font-family: 'Roboto';
}

/* ------------------------------------------ */
.mod-mascota {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: var(--lightgray);
}

.mod-mascota .titulo {
    grid-column: 3/6;
    grid-row: 1/2;
    text-align: center;
    position: relative;
    top: 20px;
}

.mod-mascota .filtrar {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.mod-mascota .filtrar .persona {
    grid-column: 4/5;
}

.mod-mascota .filtrar .mascota {
    grid-column: 5/6;
}

.mod-mascota .filtrar .buscar {
    grid-column: 6/7;
}

.mod-mascota .formulario {
    grid-column: 1/-1;
    grid-row: 3/6;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.mod-mascota .formulario .nombre {
    grid-column: 3/4;
    grid-row: 1/2;
}

.mod-mascota .formulario .color {
    grid-column: 5/6;
    grid-row: 1/2;
}

.mod-mascota .formulario .tamano {
    grid-column: 3/4;
    grid-row: 3/4;
}

.mod-mascota .formulario .peso {
    grid-column: 5/6;
    grid-row: 3/4;
}

.mod-mascota .formulario .raza {
    grid-column: 3/4;
    grid-row: 5/6;
}

.mod-mascota .formulario .genero {
    grid-column: 5/6;
    grid-row: 5/6;
}

.mod-mascota .formulario .boton {
    grid-column: 3/6;
    grid-row: 7/8;
    text-align: center;
}

.mod-mascota .titulo h1 {
    color: var(--blue);
    font-family: 'roboto';
}

.mod-mascota .filtrar .persona p,
.mod-mascota .filtrar .mascota p {
    font-family: 'roboto';
    color: var(--darkgray);
    margin-left: 20px;
}

.mod-mascota .filtrar .persona input {
    text-align: center;
    font-family: 'roboto';
    width: 200px;
    margin-left: 20px;
    height: 25px;
}

.mod-mascota .filtrar .persona span input {
    width: 80px;
    font-family: 'roboto';
    color: white;
    background-color: var(--blue);
    border: .5px solid var(--blue);
    position: relative;
    left: 60px;
    top: 10px;
}

.mod-mascota .filtrar .mascota select {
    text-align-last: center;
    font-family: 'roboto';
    width: 200px;
    margin-left: 20px;
    height: 30px;
}

.mod-mascota .filtrar .boton input {
    width: 70px;
    height: 30px;
    font-family: 'roboto';
    color: white;
    background-color: var(--blue);
    border: .5px solid var(--blue);
    position: relative;
    top: 18px;
    left: 20px;
    
}

.mod-mascota .formulario .nombre p,
.mod-mascota .formulario .color p,
.mod-mascota .formulario .tamano p,
.mod-mascota .formulario .peso p,
.mod-mascota .formulario .raza p,
.mod-mascota .formulario .genero p {
    font-family: 'roboto';
}

.mod-mascota .formulario .nombre input,
.mod-mascota .formulario .color input,
.mod-mascota .formulario .peso input {
    font-family: 'roboto';
    text-align: center;
    width: 200px;
    height: 25px;
}

.mod-mascota .formulario .raza select {
    font-family: 'roboto';
    text-align: center;
    width: 200px;
    height: 30px;
    text-align-last: center;
}


.mod-mascota .formulario .genero select,
.mod-mascota .formulario .tamano select {
    width: 204px;
    height: 30px;
    text-align-last: center;
}


.mod-mascota .formulario .boton input {
    color: white;
    background-color: var(--blue);
    border: .5px solid var(--blue);
    font-family: 'roboto';
    padding: 7px 13px;
}





/* ------------------------------------------ */